@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
   
/*              GENERIC             */
:root{
    --tema: rgb(201, 28, 201);
    --hover: gray;
}
body{
    background-color: #CBBCB9;
    margin: 0;
    width: 100%;
}
section{
    padding-top: 100px; 
}


/*              NAVBAR             */
nav img{
    width: 5%;
    margin-left: 2%;
}
nav{
    background-color: rgba(236, 236, 236, 0.7);
    font-style: italic;
    font-weight: bold;
    border-bottom: var(--tema) solid 2px;
}
.navbar-brand{
    font-family: "Dancing Script";
    padding-left: 30px;
}
.nav-item{
    padding: 0 20px;
}
.nav-item a{
    color: var(--tema);
}
.nav-item a:hover, .medias a:hover{
    color: var(--hover);
}
.medias{
    margin-right: 3%;
}
.medias a{
    color: var(--tema);
    font-size: 25px;
    margin: 0 20px;
}

/*              INITIAL             */
#carrossel{
    width: 50%;
}


/*              PROJECT             */
.projeto{
   display: flex;
   flex-wrap: nowrap;

}
.projeto img{
    width: 30%;
    transform: scale3d();
    transition: width 2s, transform 2s ;
}
.projeto img:hover{
    width: 35%;
}


/*              PACKAGE             */
.pacote{
    text-align: center;
    background-color: blue;
}
.pacote li{
    list-style-type: none;
    display: inline;
}
.pacote img{
    background-color: rgb(142, 46, 231);
    margin: 10px;
    width: 45%;
}

/*              WHO I AM        */  
.quem-sou{
    padding: 10px;
}  
.letters{
    text-align: justify;
    align-self: center;
}
.letters h2{
    font-style: italic;
    padding: 20px;
}
.quem-sou img{
    margin-top: 15%;
    width: 87%;  
    border: var(--tema) 7px double;
    border-radius: 10px;
}


/*              FOOTER             */
footer{
    border-top: var(--tema) solid 1px;
    margin-top: 30px;
    padding: 20px;
}
footer img{
    width: 40%;
}
footer li{
    list-style-type: none;
    margin-left: -30px;
}
footer a{
    text-decoration: none;
    color: var(--tema);
}
footer a:hover{
    color: var(--hover);
}
.footer-medias{
  padding: 5%; 
}
.footer-medias a{ 
    font-size: 25px;
    margin: 20px;
}
.footer-creditos h5{
    padding: 20px;
}



/*              MEDIAS             */
@media (max-width:768px) {
    section{
        padding-top: 0;
    }
    header img{
        display: none;
    }
    .navbar-nav{
        background-color: white;
    }
    .nav-item{
        padding-left: 20px;
    }
    .nav-item a{
        color: var(--tema);
    }
    #carrossel{width: 100%;
    }
    .pacote img{
        width: 100%;
    }
    .quem-sou img{
        width: 100%;
    }
 
}