@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
   
body{
    
    /*background-color: #fffaf0;*/
    margin: 10px;
}

nav{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    background-color: #FFEDE6;
    color: #7AC6C8;
}

nav h2{
    font-family: 'Hurricane', cursive;
}

button{
    margin: 10px 0px 10px 10px;
    color: #7AC6C8;
}



.cabecalho {
    display: flex;
    justify-content: space-between;
}

article{
    display: flex;
    justify-items: center;
    padding: 5px;    
}

.sobre{
    display: flex;
}

footer{
    background: #FFEDE6;
    margin-top: 10px;
    font-family: 'Hurricane';
}